/* 변수 */
:root {
    --white: #fff;
    --black: #222;
    --gray: #ddd;
    --font-gray: #707070;
    --back-gray: #F3F3F3;
    --yellow: #ffe99e;
    --red: #e01818;
    --point: #a970ff;
    --font-title: 2rem;
    --font-subtitle: 1.6rem;
    --font-normal: 1.3rem;
    --font-small: 1rem;
    --thumbnail-title-back: linear-gradient(#ffffff00, var(--gray));
    --radius-big: 1.6rem;
    --radius-small: 0.8rem;
    --border-gray: 1px solid #ddd;
    --thumb-width: 15rem;
    --thumb-height: 18rem;
    @media (max-width: 84rem) {
        --font-title: 1.8rem;
        --font-subtitle: 1.4rem;
        --font-normal: 1.2rem;
    }
}

/* 기본 속성 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    font-weight: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

input, input:focus, button, textarea, select {
    outline: none;
    border: none;
}
input[type="text"], input[type="number"], input[type="password"], textarea, select {
    border: var(--border-gray);
    color: var(--black);
    font-size: var(--font-normal);
}
textarea {
    resize: none;
    min-width: 30rem;
    max-width: 50rem;
}
input, textarea, button, select {
    border-radius: var(--radius-small);
    padding: 0.8rem;
    font-size: var(--font-normal);
}
select {
    padding: 0.8rem 3rem 0.8rem 0.8rem;
    appearance:none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background:url('./assets/select_arrow.png') no-repeat right 0.2rem center #fff;
    background-size: 1.9rem;
}

input[type="text"] {
    width: 100%;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    cursor: pointer;
    padding: 0.6rem 1.2rem;
    background: var(--white);
    color: var(--black);
    font-size: var(--font-normal);
    border: var(--border-gray);
    &.btn_y {
        background: var(--yellow);
        border: 1px solid var(--yellow);
    }
    &.btn_r {
        background: var(--red);
        color: var(--white);
        border: 1px solid var(--red);
    }
    &.btn_p {
        background: var(--point);
        color: var(--white);
        border: 1px solid var(--point);
    }
}

html {
    font-size: 62.5%; /*1rem = 10px*/
}
body {
    font-size: var(--font-normal);
    font-weight: 500;
    font-family: Pretendard, serif;
    margin: 0 auto;
    background: var(--back-gray);
}

/*-----------------------------------*/

header  {
    background: #fff;
    max-width: 100dvw;
    width: 100%;
    min-width: 32rem;
    background: var(--white);
    > div {
        padding: 2rem 3rem;
        height: 5.4rem;
        max-width: 144rem;
        margin: 0 auto;
        font-weight: 600;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 84rem) {
            padding: 1rem 2rem;
            height: 3.3rem;
        }
    }
    .user_state {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        .material-symbols-rounded {
            font-size: 1.8rem;
            font-weight: 600;
            cursor: pointer;
        }
    }
}

.user_join {
    background: var(--back-gray);
    max-width: 144rem;
    width: 100%;
    min-width: 32rem;
    height: calc(100dvh - 5.4rem);
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    > form {
        width: fit-content;
        display: flex;
        flex-direction: column;
        gap: 4rem;
        justify-content: center;
        align-items: center;
        background: var(--white);
        padding: 3.4rem 2rem 3rem;
        border-radius: var(--radius-big);
        border: var(--border-gray);
        box-shadow: 0.1rem  0.1rem 1.2rem 0.3rem var(--gray);
    }
    .join_input_box, .join_btn_box {
        display: flex;
        gap: 4.5rem;
    }
    .join_input_box {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        .input_box {
            width: 100%;
            position: relative;

            label {
                position: absolute;
                left: 1rem;
                top: 50%;
                transform: translateY(-50%);
                transition: all 0.3s;
                pointer-events: none;
                color: var(--font-gray);
            }
            input {
                width: 100%;
            }

            input:focus + label,
            input:not(:placeholder-shown) + label {
                top: -2rem;
                transform: translateY(0);
            }
        }
    }
    .err_msg {
        font-size: 1.2rem;
        font-weight: 700;
        color: var(--red);
        position: absolute;
        bottom: -1.7rem;
        left: 0.5rem;
    }
}

.container {
    background: var(--back-gray);
    padding: 3rem;
    height: calc(100dvh - 5.4rem);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    position: relative;
    max-width: 144rem;
    width: 100%;
    min-width: 32rem;
    margin: 0 auto;
    @media (max-width: 84rem) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
    }
    > div {
        border-radius: var(--radius-big);
        border: var(--border-gray);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        height: auto;
        max-height: stretch;
        .component_title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0.2rem 2rem;
            border-bottom: var(--border-gray);
            min-height: 5.6rem;
            background: var(--white);
            @media (max-width: 84rem) {
                padding: 0.2rem 1rem;
                min-height: 4rem;
            }
            h3 {
                font-size: var(--font-subtitle);
                &:has(.material-symbols-rounded) {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 0.4rem;
                    span {
                        color: var(--font-gray);
                    }
                }
            }
            .side_menu {
                width: fit-content;
                height: fit-content;
                min-width: fit-content;
                min-height: fit-content;
                background: var(--white);
                border-radius: 10rem;
                cursor: pointer;
                padding: 0.2rem;
                border: var(--border-gray);
                transition: all 0.5s;
                display: flex;
                justify-content: center;
                align-items: center;
                @media (max-width: 84rem) {
                    border: none;
                }
                span {
                    font-size: 3rem;
                    color: var(--font-gray);
                    transition: all 0.5s;
                    @media (max-width: 84rem) {
                        font-size: 2.2rem;
                    }
                }
                &:hover {
                    transform: translate(0, -0.3rem);
                    span {
                        color: var(--point);
                    }
                }
            }
        }
        .component_body {
            flex: 1;
            overflow-y: auto;
            padding: 2rem;
            background: var(--back-gray);

        }
        .component_btn {
            padding: 2rem;
            border-top: var(--border-gray);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            height: 6.9rem;
            background: var(--white);
        }
    }
}

.inventory_list {
    height: stretch !important;
    @media (max-width: 84rem) {
        height: calc(100dvh - 5.4rem) !important;
    }
    .component_body {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: max-content;
        grid-gap: 2rem;
        @media (max-width: 84rem) {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1rem;
        }
    }
    .inventory {
        position: relative;
        width: var(--thumb-width);
        height: var(--thumb-height);
        cursor: pointer;
        border-radius: var(--radius-big);
        outline-width: 0;
        transition: outline-width 0.2s;
        &:hover {
            outline: var(--point) solid 0.3rem;
        }
        > div {
            border-radius: var(--radius-big);
        }
        .inventory_state {
            background: var(--white);
            color: var(--black);
            width: var(--thumb-width);
            height: var(--thumb-height);
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-start;
            padding: 0.8rem 1rem;
            gap: 0.4rem;
            font-weight: 600;
            &.immer {
                justify-content: flex-start;
                background: var(--red);
                color: var(--white);
                span {font-size: 1.6rem}
            }
        }
        .inventory_thumbnail {
            position: absolute;
            bottom: 0;
            left: 0;
            width: var(--thumb-width);
            height: var(--thumb-width);
            aspect-ratio: 1/1;
            border-radius: var(--radius-big);
            overflow: hidden;
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
            .inventory_info {
                position: absolute;
                bottom: 0;
                left: 0;
                background: var(--thumbnail-title-back);
                background-blend-mode: multiply;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;
                gap: 0.4rem;
                width: 100%;
                height: 100%;
                padding: 1rem;
                z-index: 2;
                span {
                    color: var(--black);
                    &.title {
                        font-weight: 700;
                    }
                    &.option {
                        font-size: var(--font-small);
                    }
                }
            }
        }
    }
}

.state_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.4rem;
    width: 100%;
    max-width: 50rem;
    > span {
        color: var(--font-gray);
    }
    .counter {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;
        span:not(.counter_value) {
            border: var(--border-gray);
            background: var(--white);
            color: #707070;
            border-radius: var(--radius-small);
            padding: 0.4rem 0.6rem;
            font-size: var(--font-normal);
            cursor: pointer;
            user-select: none;
        }
        .counter_value {
            color: var(--black);
            border: none;
            background: none;
            max-width: 3rem;
            text-align: center;
        }
    }
    textarea {
        width: 100%;
    }
    .state_box:has(textarea) {
        width: 100%;
    }
}

.inventory_detail {
    grid-area: detail;
    .component_body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2rem;
    }
    .inventory_thumbnail {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        img {
            width: 10rem;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: var(--radius-big);
        }
        .inventory_info {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 0.5rem;
            select {
                min-width: 8rem;
            }
            div {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 0.4rem;
                padding-left: 1rem;
            }
            .title {
                font-weight: 700;
                font-size: var(--font-subtitle);
            }
        }
    }
    .inventory_state {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.inventory_register {
    .component_body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2rem;
    }
    .inventory_state {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        input[type="file"]{
            display: none;
        }
        label {
            width: 10rem;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: var(--radius-big);
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0.4rem dashed var(--gray);
            cursor: pointer;
            position: relative;
            span {
                color: var(--font-gray);
            }
            img {
                position: absolute;
                width: 10rem;
                aspect-ratio: 1/1;
                object-fit: cover;
                cursor: pointer;
                border-radius: var(--radius-big);
            }
        }
        > div {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 1rem;
        }
    }
}

.rdp-root {
    background: var(--white);
    padding: 0.6rem 1.6rem;
    border-radius: var(--radius-small);
}
.rdp-caption_label {
    font-size: var(--font-normal);
}
.rdp-day {
    width: 2rem !important;
    height: 2rem !important;
}
.rdp-day_button {
    width: 2.1rem !important;
    height: 2.1rem !important;
    color: var(--black) !important;
}
.rdp-selected {
    font-size: var(--font-normal) !important;
}
.rdp-selected .rdp-day_button {
    border: 1px solid var(--point) !important;
    background: var(--point) !important;
    color: var(--white) !important;
}
.rdp-today:not(.rdp-outside) {
    color: var(--white) !important;
}
.rdp-chevron {
    fill: var(--point) !important;
    width: 1.8rem;
    height: 1.8rem;
}
.rdp-button_next, .rdp-button_previous {
    width: 1.8rem !important;
    height: 1.8rem !important;
}